---
import Swiper from './UI/Swiper'
import Card from './UI/Card'
---
<main>
  <Swiper />
  <div class="flex xl:grid-cols-4 sm:grid-cols-2 w-full gap-12 justify-center items-center">
    <Card imageLink='/blank' imageSource='/public/교회소개.jpeg' imageAlt='gg'/>
    <Card imageLink='/blank' imageSource='/public/교회소개.jpeg' imageAlt='gg'/>
    <Card imageLink='/blank' imageSource='/public/교회소개.jpeg' imageAlt='gg'/>
    <Card imageLink='/blank' imageSource='/public/교회소개.jpeg' imageAlt='gg'/>
  </div>

</main>